---
- name: Install MySQL client
  apt:
    name: mysql-client
    state: present

- name: Install ProxySQL
  apt:
    deb: https://github.com/sysown/proxysql/releases/download/v2.5.5/proxysql_2.5.5-ubuntu20_amd64.deb
    state: present

- name: Configure ProxySQL
  template:
    src: proxysql.cnf.j2
    dest: /etc/proxysql.cnf
  notify: restart proxysql

- name: Start ProxySQL
  systemd:
    name: proxysql
    state: started
    enabled: yes

- name: Create proxyuser in MySQL backends
  shell: |
    mysql -e "CREATE USER IF NOT EXISTS 'proxyuser'@'%' IDENTIFIED BY 'proxy123';"
    mysql -e "GRANT ALL PRIVILEGES ON *.* TO 'proxyuser'@'%';"
    mysql -e "FLUSH PRIVILEGES;"
  delegate_to: "{{ item }}"
  loop:
    - db-01
    - db-02

- name: Configure MySQL servers in ProxySQL
  shell: |
    mysql -h127.0.0.1 -P6032 -uadmin -padmin -e "
    DELETE FROM mysql_servers WHERE hostname IN ('192.168.100.135', '192.168.100.136');
    INSERT INTO mysql_servers(hostgroup_id, hostname, port, weight) VALUES
    (0, '192.168.100.135', 3306, 1000),
    (1, '192.168.100.136', 3306, 900);
    LOAD MYSQL SERVERS TO RUNTIME;
    SAVE MYSQL SERVERS TO DISK;"

- name: Configure MySQL users in ProxySQL
  shell: |
    mysql -h127.0.0.1 -P6032 -uadmin -padmin -e "
    DELETE FROM mysql_users WHERE username IN ('root', 'proxyuser');
    INSERT INTO mysql_users(username, password, default_hostgroup) VALUES
    ('root', 'mysql123', 0),
    ('proxyuser', 'proxy123', 0);
    LOAD MYSQL USERS TO RUNTIME;
    SAVE MYSQL USERS TO DISK;"

- name: Configure query rules
  shell: |
    mysql -h127.0.0.1 -P6032 -uadmin -padmin -e "
    DELETE FROM mysql_query_rules WHERE rule_id IN (1, 2);
    INSERT INTO mysql_query_rules(rule_id, active, match_pattern, destination_hostgroup, apply) VALUES
    (1, 1, '^SELECT.*', 1, 1),
    (2, 1, '^INSERT|UPDATE|DELETE.*', 0, 1);
    LOAD MYSQL QUERY RULES TO RUNTIME;
    SAVE MYSQL QUERY RULES TO DISK;"

- name: Copy failover script
  template:
    src: mysql_failover.sh.j2
    dest: /usr/local/bin/mysql_failover.sh
    mode: '0755'

- name: Setup failover cron job
  cron:
    name: "MySQL HA Monitor"
    minute: "*"
    job: "/usr/local/bin/mysql_failover.sh"
