---
- name: Install Java
  apt:
    name: openjdk-11-jdk
    state: present
    update_cache: yes

- name: Create Kafka user
  user:
    name: kafka
    system: yes
    shell: /bin/false

- name: Download Kafka
  shell: curl -k -L -o /tmp/kafka.tgz https://archive.apache.org/dist/kafka/{{ kafka_version }}/kafka_{{ kafka_scala_version }}-{{ kafka_version }}.tgz
  args:
    creates: /tmp/kafka.tgz

- name: Extract Kafka
  unarchive:
    src: /tmp/kafka.tgz
    dest: /opt
    remote_src: yes
    creates: /opt/kafka_{{ kafka_scala_version }}-{{ kafka_version }}

- name: Create symlink
  file:
    src: /opt/kafka_{{ kafka_scala_version }}-{{ kafka_version }}
    dest: /opt/kafka
    state: link

- name: Create data directory
  file:
    path: "{{ kafka_data_dir }}"
    state: directory
    owner: kafka
    group: kafka

- name: Create logs directory
  file:
    path: /opt/kafka_{{ kafka_scala_version }}-{{ kafka_version }}/logs
    state: directory
    owner: kafka
    group: kafka

- name: Set ownership
  file:
    path: /opt/kafka_{{ kafka_scala_version }}-{{ kafka_version }}
    owner: kafka
    group: kafka
    recurse: yes

- name: Download JMX exporter
  shell: curl -k -L -o /opt/kafka/jmx_prometheus_javaagent.jar https://repo1.maven.org/maven2/io/prometheus/jmx/jmx_prometheus_javaagent/0.20.0/jmx_prometheus_javaagent-0.20.0.jar
  args:
    creates: /opt/kafka/jmx_prometheus_javaagent.jar

- name: Create JMX config
  copy:
    content: |
      lowercaseOutputName: true
      lowercaseOutputLabelNames: true
    dest: /opt/kafka/jmx_exporter.yml

- name: Configure Kafka KRaft
  template:
    src: server.properties.kraft.j2
    dest: /opt/kafka/config/kraft/server.properties

- name: Format storage (first time only)
  shell: sudo -u kafka /opt/kafka/bin/kafka-storage.sh format -t {{ kafka_cluster_id }} -c /opt/kafka/config/kraft/server.properties
  args:
    creates: "{{ kafka_data_dir }}/meta.properties"

- name: Create systemd service
  template:
    src: kafka-kraft.service.j2
    dest: /etc/systemd/system/kafka.service
  notify: restart kafka

- name: Start Kafka
  systemd:
    name: kafka
    state: started
    enabled: yes
    daemon_reload: yes
