global
    maxconn 100
    log 127.0.0.1 local0

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:{{ haproxy_stats_port }}
    stats enable
    stats uri /

listen postgres_master
    bind *:{{ haproxy_postgres_port }}
    option httpchk GET /master
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
{% for host in groups['postgresql'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:5432 maxconn 100 check port 8008
{% endfor %}

listen postgres_replicas
    bind *:{{ haproxy_postgres_readonly_port }}
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
{% for host in groups['postgresql'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:5432 maxconn 100 check port 8008
{% endfor %}
