[mysqld]
server-id = {{ mysql_server_id }}
log-bin = mysql-bin
binlog-format = ROW
bind-address = 0.0.0.0
max_connections = 200
innodb_buffer_pool_size = 2G
gtid_mode = ON
enforce_gtid_consistency = ON