
---
- name: Install MySQL
  apt:
    name: 
      - mysql-server
      - python3-pymysql
    state: present

- name: Configure MySQL
  template:
    src: "{{ mysql_role }}.cnf.j2"
    dest: /etc/mysql/mysql.conf.d/custom.cnf
  notify: restart mysql

- name: Start MySQL
  systemd:
    name: mysql
    state: started
    enabled: yes

- name: Restart MySQL to apply GTID config
  systemd:
    name: mysql
    state: restarted
  when: mysql_role == "slave"

- name: Secure MySQL installation
  shell: |
    mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '{{ mysql_root_password }}';"
    mysql -e "FLUSH PRIVILEGES;"
  become: yes
  ignore_errors: yes

- name: Create remote root user
  shell: |
    mysql -e "CREATE USER IF NOT EXISTS 'root'@'%' IDENTIFIED WITH mysql_native_password BY '{{ mysql_root_password }}';"
    mysql -e "GRANT ALL PRIVILEGES ON *.* TO 'root'@'%' WITH GRANT OPTION;"
    mysql -e "FLUSH PRIVILEGES;"
  become: yes

- name: Create .my.cnf for root
  template:
    src: my.cnf.j2
    dest: /root/.my.cnf
    mode: '0600'

- name: Create replication user (master only)
  shell: |
    mysql -e "DROP USER IF EXISTS 'replicator'@'192.168.100.%';"
    mysql -e "CREATE USER 'replicator'@'192.168.100.%' IDENTIFIED WITH mysql_native_password BY '{{ mysql_repl_password }}';"
    mysql -e "GRANT REPLICATION SLAVE ON *.* TO 'replicator'@'192.168.100.%';"
    mysql -e "FLUSH PRIVILEGES;"
  when: mysql_role == "master"

- name: Stop slave
  mysql_replication:
    mode: stopslave
    login_user: root
    login_password: "{{ mysql_root_password }}"
  when: mysql_role == "slave"
  ignore_errors: yes

- name: Configure slave replication
  mysql_replication:
    mode: changemaster
    master_host: "{{ mysql_master_host }}"
    master_user: replicator
    master_password: "{{ mysql_repl_password }}"
    master_auto_position: yes
    login_user: root
    login_password: "{{ mysql_root_password }}"
  when: mysql_role == "slave"

- name: Start slave replication
  mysql_replication:
    mode: startslave
    login_user: root
    login_password: "{{ mysql_root_password }}"
  when: mysql_role == "slave"
 