<?php
// Server mặc định qua ProxySQL
$cfg['Servers'][1]['host'] = '192.168.100.144';
$cfg['Servers'][1]['port'] = '6033';
$cfg['Servers'][1]['auth_type'] = 'cookie';
$cfg['Servers'][1]['verbose'] = 'MySQL via ProxySQL';

// Tắt arbitrary server
$cfg['AllowArbitraryServer'] = false;
